.bio-content{
    position: relative;
    display: block;
    top: 10%;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    border: solid green 2px;
}

.bio-container{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
    border: solid blue 2px;
}

.bio{
    position: relative;
    display: inline-block;
    width: 50%;
    top: 10%;
    box-sizing: border-box;
    text-align: center;
    overflow-y: scroll;
    border: solid red 2px;
}

.bio-photo{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100px;
    top: 10%;
    box-sizing: border-box;
    text-align: center;
    border: solid purple 2px;
}
.bio-text{
    font-size: 1rem;
    padding: 5px;
}


@media  (min-width: 0px) and
		(max-width: 414px) {

.bio-container{
    width: 100%;
    height: 85vh;
}
.bio{
    width: 100%;
    height: 60vh;
    top: 10%;
    margin: 0 auto;
}
}