.collection-content{
    position: fixed;
    display: block;
    top: 10%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.copyRight{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.photo-container{
    position: fixed;
    display: block;
    top: 20%;
    height: 61vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    overflow-x: scroll;
    white-space: nowrap;
}

.photo{
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 28%;
    height: 61vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.new-photo{
    position: relative;
    display: inline-block;
    margin: 20px;
    width: 28%;
    height: 61vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.photo-wide{
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 75%;
    height: 61vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media  (min-width: 0px) and
		(max-width: 414px) {
.photo-wide{
    width: 200%;
    height: 61vh;
}

.photo{
    margin: 10px;
    width: 81%;
    height: 61vh;
}
.new-photo{
    margin: 10px;
    width: 81%;
    height: 45vh;
}
}