html, body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    background-color: white;
    text-align: center;
    color: black;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    margin: 0 auto;
    text-align: right;
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    z-index: 10;
}

.logo{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 70vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 13vh;
}

.phone-logo{
    position: fixed;
    display: none;
    margin: 0 auto;
    width: 100%;
    height: 30vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 33%;
    transform: rotate(90deg);
}

.copyRight{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.home-button{
    position: fixed;
    display: none;
    width: 40%;
    height: 9%;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: left;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
}

.desktop-home-button{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
    height: 9%;
    margin-left: 5px;
}

.desktop-home-button a{
    color: black;
}


.page-button{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 5px 5px 5px 50px;
    box-sizing: border-box;
    cursor: pointer;
      /* font-family: 'Julius Sans One', sans-serif;*/
   font-family: 'Open Sans', sans-serif;
   font-size: .9rem;
}

.collection-button{
    position: relative;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    min-width: 300px;
      /* font-family: 'Julius Sans One', sans-serif;*/
   font-family: 'Open Sans', sans-serif;
   font-size: .9rem;
}

.collection-button .collection-container{
    display: none;
    position: absolute;
    width: 100%;
    background-color: transparent;
    right: 0;
    top: 25px;
}

.collection-container-ul {
    padding: 0;
    width: 100%;
}

.collection-button:hover .collection-container{
    display: block;
}


.link-button{
    min-width: 300px;
    padding: 3px;
    cursor: pointer;
    font-size: .75rem;
   /* font-family: 'Julius Sans One', sans-serif;*/
   font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

.collection-button a{
    color: black;
}

.page-button a{
    color: black;
}

.link-button a:hover{
    font-size: .9rem;
}


@media  (min-width: 0px) and
		(max-width: 414px) {

.header{
    display: none;
}

.desktop-home-button{
    display: none;
}

.home-button{
    display: block;
}

.phone-logo{
    display: block;
}

.logo{
    display: none;
}

.page-button{
    display: none;
}
}
