.video-content{
    position: relative;
    display: block;
    top: 70px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.copyRight{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.video-container{
    position: relative;
    display: block;
    top: 0;
    width: 90%;
    height: 75vh;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.video-1{
    position: relative;
    display: inline-block;
    margin-top: 25px;
    width: 80%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;    
}

.video{
    position: relative;
    display: inline-block;
    margin-top: 50px;
    width: 80%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.eleen-title{
    font-family: 'Lekton', sans-serif;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: relative;
    top: 10vh;
    width: 90%;
}

.project-container{
    position: relative;
    display: block;
    top: 10vh;
    width: 90%;
    height: 70vh;
    box-sizing: border-box;
    margin: 10px auto;
    text-align: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer{
    text-align: left;
    position: fixed;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    width: 100%;
    height: 5vh;
    margin: 0 auto;
    display: none;
}



.eleen-credit{
      /* font-family: 'Julius Sans One', sans-serif;*/
   font-family: 'Lekton', sans-serif;
   text-align: left;
   margin-top: 75px;
   width: 90%;
}

.eleen-credit2{
    /* font-family: 'Julius Sans One', sans-serif;*/
 font-family: 'Lekton', sans-serif;
 text-align: left;
 margin-top: 80px;
 margin-left: 30px;
 width: 90%;
}

.noLink{
      /* font-family: 'Julius Sans One', sans-serif;*/
   font-family: 'Lekton', sans-serif;
    font-size: .8rem;
    width: 90%;
}

.heading{
    text-align: left;
    padding: 2px;
    font-family: 'Lekton', sans-serif;
    color: black;
    font-size: .9rem;
    width: 90%;
}

.heading2{
    text-align: left;
    padding: 2px;
    font-family: 'Lekton', sans-serif;
    color: black;
    font-size: .9rem;
    width: 90%;
    margin-left: 30px;
}

.header-credit{
    color: black;
}

.credit-holder{
    box-sizing: border-box;
    margin-bottom: 30px;
    width: 100%;
    height: 55vh;

}

.credits{
    text-align: left;
    color: black;
    padding: 0;
    font-family: 'Lekton', sans-serif;
    font-size: .7rem;
    width: 90%;
}

.credits2{
    text-align: left;
    color: black;
    padding: 0;
    font-family: 'Lekton', sans-serif;
    font-size: .7rem;
    width: 90%;
    margin-left: 30px;
}

.name{
      /* font-family: 'Julius Sans One', sans-serif;*/
   font-family: 'Lekton', sans-serif;
    font-size: .8rem;
}

.name:hover{
    font-size: .9rem;
}

@media  (min-width: 0px) and
		(max-width: 414px) {

.video{
    margin: 0 auto;
    width: 100%;
    height: 50vh;
}

.video-1{
    margin: 0 auto;
    width: 100%;
    height: 50vh;    
}

.video-container{
    width: 90%;
}
.project-container{
    height: 40vh;
    top: 13vh;
}
.eleen-credit{
 margin-top: 30px;
}
.footer{
   display: block;
}
.eleen-credit2{
    margin-top: 40px; 
}       
}