.video-content{
    position: relative;
    display: block;
    top: 70px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.copyRight{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.video-container{
    position: relative;
    display: block;
    top: 0;
    width: 85%;
    height: 85vh;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    overflow-y: scroll;
}

.video-1{
    position: relative;
    display: inline-block;
    margin-top: 25px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;    
}

.video{
    position: relative;
    display: inline-block;
    margin-top: 50px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.eleen-credit{
      /* font-family: 'Julius Sans One', sans-serif;*/
   font-family: 'Lekton', sans-serif;
   text-align: left;
   margin-top: 20px;
}

.noLink{
      /* font-family: 'Julius Sans One', sans-serif;*/
   font-family: 'Lekton', sans-serif;
    font-size: .8rem;
}

.heading{
    text-align: left;
    padding: 2px;
    font-family: 'Lekton', sans-serif;
    color: black;
    font-size: .9rem;

}

.header-credit{
    color: black;
}

.credits{
    text-align: left;
    color: black;
    padding: 0;
    font-family: 'Lekton', sans-serif;
    font-size: .8rem;
}

.name{
      /* font-family: 'Julius Sans One', sans-serif;*/
   font-family: 'Lekton', sans-serif;
    font-size: .8rem;
}

.name:hover{
    font-size: .9rem;
}

@media  (min-width: 0px) and
		(max-width: 414px) {

.video{
    margin: 0 auto;
    width: 100%;
    height: 50vh;
}

.video-1{
    margin: 0 auto;
    width: 100%;
    height: 50vh;    
}

.video-container{
    width: 100%;
}
}