.main_image-content{
    margin: 0 auto;
    text-align: center;
    width: 700px;
}

.image-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 20vh;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}

.copyRight{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.image-container{
    position: relative;
    width: 100%;
}

.new-image{
    display: inline-block;
    width: 50%;
    height: 59vh;
    margin-bottom: 18px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.description-title{
    font-style: italic;
    font-size: .7rem;
}

.tang_text-container {
    position: relative;
    display: block;
    top: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Lekton', sans-serif;
    text-align: left;
    width: 96%;
}

@media  (min-width: 0px) and
		(max-width: 768px) {

.main_image-content{
    width: 395px;
}            
.new-image{
    height: 30vh;
    margin-bottom: 10px;
}
.image-content{
    overflow-x: hidden;
}
}